<main>
    <header class="titlecard">
        <h2>Reddit</h2>
    </header>
    <article class="inputs">
        <form action="">
            <h4>Add Links here</h4>
            Title:
            <input type="text" #title><br>
            Link:
            <input type="text" #link><br>
            <button type="button" name="button" (click)="addArticle(title,link)">Submit</button>
        </form>
    </article>
    <section *ngFor="let article of articles">
        <app-article [article] = 'article'></app-article>
    </section>
</main>
