<main>
    <header class="titlecard">
        <h2>Reddit</h2>
    </header>
    <article class="inputs">
        <form #articleForm = 'ngForm'>
            <h4>Add Links here</h4>
            Title:
            <input type="text"
            [(ngModel)] = 'model.name'
            name="name"
            required
             ><br>
            Link:
            <input type="text"
            [(ngModel)] = 'model.url'
            name="url"
            required
            >
            {{model.name}}
            <br>
            Genre:
            <br/>
            <select name="genres" >
              <option class = 'genres' *ngFor ='let genre of genres' [value] = 'genre'>{{genre}}</option>
            </select>
            <br/>
            <button type="button" name="button"
            >Submit</button>
        </form>
    </article>
    <section *ngFor="let article of articles">
        <app-article [article] = 'article'></app-article>
    </section>
</main>
