main
    display: flex
    flex-direction: column
    width: 960px
    margin-top 100px
    height: 100%
    -webkit-box-shadow: 0px 0px 31px -4px rgba(0,0,0,0.75)
    -moz-box-shadow: 0px 0px 31px -4px rgba(0,0,0,0.75)
    box-shadow: 0px 0px 31px -4px rgba(0,0,0,0.75)
    padding: 30px
.inputs
    background: skyblue
    padding: 5px
    display: flex
    flex-flow: wrap column
    section
        display: flex
        input
            margin-left: 100px
            height: auto
